<!DOCTYPE html>
<html>
  <head>
    <title>Color</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      body{
          background-color:<%= color %>;
      }
  </style>
  </head>
  <body>
    <h1>Por favor, elige un color</h1>
    <form action="/users/color" method="POST">
      <select name="color" id="">
          <option value="green">Green</option>
          <option value="red">Red</option>
          <option value="blue">Blue</option>
      </select>
      <br>
      <input type="checkbox" name="colorPreferido">
      <label for="">Recordar color</label>
      <br>
      <button type="submit">Enviar</button>
    </form>
<br>
<br>
    <h4>Si ya seleccionaste un color y quieres volver al valor inicial, presiona acá</h4>
    <form action="/users/color/olvidar" method="POST">
      <input type="checkbox" name="olvidarColor">
      <label for="">Olvidar color</label>
      <br>
      <button type="submit">Enviar</button>
    </form>

  </body>
</html>