<!DOCTYPE html>
<html>
  <head>
    <title>Color</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Por favor, elige un color</h1>
    <form action="/" method="POST">
      <input type="select">
      <button>Enviar</button>
    </form>
  </body>
</html>
