<!DOCTYPE html>
<html>
  <head>
    <title> Register </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <h1>LOGIN</h1>
        <form method="POST" action="/users/login">
            <label for="">Email</label>
            <input type="email" name="email">
            <br>
            <label for="">Password</label>
            <input type="password" name="password">
            <br>
            <input type="submit" value="Login">
        </form>

  </body>
</html>