<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color elegido</title>
    <style>
        body{
            background-color:<%= color %>;
        }
    </style>
</head>
<body>
    <p>Elegiste el color: <%= color %>  </p>
</body>
</html>