<!DOCTYPE html>
<html>
  <head>
    <title> Perfil </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <h1>Bienvenido a tu perfil, <%= nombre %> </h1>
        <p><%= email %>  </p>
        <img src="/images/avatars/<%= avatar %> " alt="">

  </body>
</html>