<!DOCTYPE html>
<html>
  <head>
    <title>Session</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>BIENVENIDO AL CONTADOR</h1>
    <form action="/prueba1" method="POST">
        <label for="" name="contador"><%= contador %> </label>
        <button type="submit">Sumar</button>
    </form>
    
  </body>
</html>