<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Búsqueda</h1>
    
    <form action="/movies/results" method="GET">
        <input type="text" name="search" id="">
        <input type="submit" value="Buscar">
    
    </form>
  </body>
</html>